@model List<BookGetVM>
@{
    int num = 0;
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex" style="justify-content:space-between">
        <h6 class="m-0 font-weight-bold text-primary">Genre list</h6>
        <a asp-action="create" class="btn btn-success">Create</a>

    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Sale Price</th>
                        <th>Stock Count</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (BookGetVM book in Model)
                    {
                        ++num;
                        <tr>
                            <td> @num</td>
                            <td> <img style="height:100px; width:70px"src="~/assets/image/products/@book.ImageURl"/> </td>
                            <td>@book.Title</td>
                            <td>@book.SalePrice</td>
                            <td>@book.StockCount</td>
                            <td>@book.Author.Name</td>
                            <td>@book.Genre.Name</td>
                            <td>
                                <a class="btn btn-primary" asp-action="update" asp-route-id="@book.Id">Update</a>
                                <a class="btn btn-danger" asp-action="delete" asp-route-id="@book.Id">Delete</a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

